.dual-div {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.dual-div div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dual-div > * {
    width: 75%;
}

img {
    width: 100%;
}

@media (max-width: 1100px) {
    .dual-div {
        flex-direction: column;
    }
}