html {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    border: 1.5px solid black;
    background-color: black;
    outline: none;
    font-size: 2rem;
    padding: 20px;
    margin: 10px;
    cursor: default;
}

input:focus {
    color: springgreen;
    border-color: springgreen; 
    outline: none;
}

*:focus {
    outline: none;
}

