#dates {
  padding: 0px 20px;
  margin-top: 10px;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

#dates .bolder {
  color: #80C1C9;
  font-weight: 500;
  font-size: 0.9rem;
}

.links {
  margin: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.links a {
  color: #91F2F2;
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 25px;
}

.links span {
  color: #91F2F2;
}

#contianer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#project-page {
  margin: 20px;
  padding: 0 20px;
  width: 100%;
  max-width: 800px;
}

#project-page h1 {
  text-align: center;
}

#project-page h1, #project-page h2, #project-page h3, #project-page h4, #project-page h5, #project-page h6 {
  color: #80C1C9;
  margin-top: 20px;
  margin-bottom: 10px;
}

#project-page p {
  text-align: justify;
  margin: 5px 0;
}

#project-page blockquote {
  margin: 10px;
  font-weight: 550;
  font-size: 1.1rem;
}

#project-page li {
  margin: 10px 0;
}

#project-page .media-div {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#project-page .media-div * {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

#project-page .media-div .bordered {
  border: 1.5px solid transparent;
  border-image: linear-gradient(35deg, #0CACBE, transparent);
  border-image-slice: 1;
}

#project-page a {
  display: block;
  margin: 10px 0;
  font-weight: 450;
  text-decoration: underline;
}

#project-page code {
  display: block;
  background-color: rgba(220, 255, 255, 0.7);
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  padding-top: 8px;
}

#project-page code * {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  color: #2B4C4F;
}
