.card {
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.2s ease;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.card h2 {
	transition: all 0.2s ease;
}

	.card:hover h2 {
		font-weight: 600;
		font-size: calc(1.65rem + .9vw);
	}

.card:hover .project-image {
	height: 90px;
}

.project-image {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	transition: height 0.5s ease;
}

.project-image img {
	height: 100%;
}
