$main-color: white;
$highlight: #a4ffff;
$background-highlight: rgba(87, 135, 135, 0.05);

/* Remove Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $main-color;
    color-scheme: dark;
    text-decoration: none;
}

/* Font Stuff */
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Body Styling */
html, body {
    height: 100%;
    background-color: rgb(25, 25, 25);
}

body {
    display: flex;
    justify-content: center;
}

.page {
    margin: 50px;
    padding: 40px;
    width: 100%;
    max-width: 900px;
    background: rgb(5, 5, 5);
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 34%, rgba(0,0,0,0.5) 45%, $background-highlight 92%);
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.3);
    box-sizing: content-box;
}

/* Templete */
header {
    text-align: center;
}

a {
    color: $highlight;
    transition: color ease 0.3s;
}

a:hover {
    color: $main-color;
}

h1 {
    color: $highlight;
    margin: 10px;
}

h2 {
    color: $highlight;
    margin-top: 10px;
}

h3 {
    margin-top: 5px;
}

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px;
    margin-bottom: 25px;
    width: 100px;
    color: $highlight;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 7.5px;
    border: $highlight solid 1px;
    transition: color ease 0.3s, border ease 0.3s;
}

footer p {
    margin-top: 5px;
}

button:hover {
    color: $main-color;
    cursor: pointer;
    border: $main-color solid 1px;
}
