/* Remove Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Font Stuff */
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
