$main-colour: cyan;
$seconrdary-colour: white;

/* Temp, before THREE.js stuff */
html {
    background-color: black;
}

/* Remove Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit; 
}

/* Font Stuff */
* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $main-colour;
}

/* Page Grid */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

footer {
    grid-row: 3;
    padding: 20px;
    padding-left: 40px;
}

/* Other CSS */
nav {
    padding: 20px 0;
    padding-left: 20px;
}

nav a {
    padding: 20px;
    
}

/* Theme */

a, a * {
    transition: 
        color 0.3s ease;
}

a:hover, a:hover * {
    color: $seconrdary-colour;
}

.title {
    text-align: center;
    margin-top: 20px;
}

hr {
    background-color: black;
    border-color: $main-colour;
    margin: 20px 0;
}