$main-colour: #0CACBE;
$link-colour: #91F2F2; 
$seconrdary-colour: #B6F1F8;

/* Temp, before THREE.js stuff */
html {
    background-color: black;
}

.webgl {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; 
}

/* Remove Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Stuff */
* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, p, span, label, li, img {
    color: $main-colour;
}

a {
    text-decoration: none;
    color: $link-colour;
}

/* Page Grid */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

footer {
    grid-row: 3;
    padding: 20px;
    padding-left: 40px;
}

/* Other CSS */
nav {
    padding: 20px 0;
    padding-left: 20px;
}

nav a {
    padding: 20px;
}

/* Theme */
* {
    color-scheme: dark;
}

a, a * {
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover:not(.no-glow), a:hover:not(.no-glow) * {
    color: $seconrdary-colour;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.45), 0 0 16px rgba(255, 255, 255, 0.45), 0 0 24px rgba(255, 255, 255, 0.45);
    transition: color 0.5s ease, text-shadow ease 0.2s;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid $link-colour;
    transition: border ease 0.3s, color ease 0.3s, box-shadow ease 0.3s;
}

.button:hover {
    text-shadow: none;
    border: 2px solid $seconrdary-colour;
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.3);
    transition: border ease 0.5s, color ease 0.5s, box-shadow ease 0.5s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav {
    display: flex;
    gap: 30px;
    padding: 0px;
}

.fa {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 0px;
}

.fa::before {
    font-size: 1.75em;
}

.fa-mini {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 0px;
}

.fa-mini::before {
    font-size: 1em;
}

.space-top {
    margin-top: 25px;
}