/* Temp, before THREE.js stuff */
html {
  background-color: black;
}

/* Remove Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Font Stuff */
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: cyan;
}

/* Page Grid */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
  padding: 20px;
  padding-left: 40px;
}

/* Other CSS */
nav {
  padding: 20px 0;
  padding-left: 20px;
}

nav a {
  padding: 20px;
}

/* Theme */
* {
  color-scheme: dark;
}

a, a * {
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover, a:hover * {
  color: white;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.45), 0 0 16px rgba(255, 255, 255, 0.45), 0 0 24px rgba(255, 255, 255, 0.45);
  transition: color 0.5s ease, text-shadow ease 0.2s;
}

.title {
  text-align: center;
  margin-top: 20px;
}

hr {
  background-color: black;
  border-color: cyan;
  margin: 20px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid cyan;
  transition: border ease 0.3s, color ease 0.3s, box-shadow ease 0.3s;
}

.button:hover {
  text-shadow: none;
  border: 2px solid white;
  box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.3);
  transition: border ease 0.5s, color ease 0.5s, box-shadow ease 0.5s;
}
