@page
@model Portfolio.Pages.Admin.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Project.Id" />
            <div>
                <label asp-for="Project.Name"></label>
                <input asp-for="Project.Name"/>
                <span asp-validation-for="Project.Name"></span>
            </div>
            <div>
                <label asp-for="Project.DateStarted"></label>
                <input asp-for="Project.DateStarted"/>
                <span asp-validation-for="Project.DateStarted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.DateEnded"></label>
                <input asp-for="Project.DateEnded"/>
                <span asp-validation-for="Project.DateEnded"></span>
            </div>
            <div>
                <label asp-for="Project.File"></label>
                <input asp-for="Project.File"/>
                <span asp-validation-for="Project.File"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Thumbnail"></label>
                <input asp-for="Project.Thumbnail"/>
                <span asp-validation-for="Project.Thumbnail"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
