@page
@model Portfolio.Pages.Admin.Projects.EditModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="section center">
    <form method="post" class="normal-form">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Project.Name" />
        <div>
            <label asp-for="Project.DateStarted"></label>
            <input asp-for="Project.DateStarted"/>
            <span asp-validation-for="Project.DateStarted" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Project.DateEnded"></label>
            <input asp-for="Project.DateEnded"/>
            <span asp-validation-for="Project.DateEnded"></span>
        </div>
        <div>
            <label asp-for="Project.File"></label>
            <input asp-for="Project.File"/>
            <span asp-validation-for="Project.File"></span>
        </div>
        <div>
            <label asp-for="Project.Thumbnail"></label>
            <input asp-for="Project.Thumbnail"/>
            <span asp-validation-for="Project.Thumbnail"></span>
        </div>
        <div>
            <label asp-for="Project.Hidden"></label>
            <input asp-for="Project.Hidden" />
        </div>
        <div>
            <label asp-for="Project.Description"></label>
            <input asp-for="Project.Description" />
        </div>
        <div>
            <label asp-for="Project.Github"></label>
            <input asp-for="Project.Github" />
        </div>
        <div>
            <label asp-for="Project.Page"></label>
            <input asp-for="Project.Page" />
        </div>
        <div>
            <label asp-for="Project.Download"></label>
            <input asp-for="Project.Download" />
        </div>
        <div>
            <label asp-for="Project.Tags"></label>
            <input asp-for="Project.Tags" />
        </div>
        <div class="uninclude">
            <button class="button" type="submit">Save</button>
        </div>
    </form>
</div>

<a class="button" asp-page="../Dashboard">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
