<!DOCTYPE html>
<html>
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Admin</title>

    @* CSS *@
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)

    @* Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>

    </header>

    <main>
        @RenderBody()
    </main>

    <footer>

    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
