<!DOCTYPE html>
<html lang="en">
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anthony Safatli</title>

    @* CSS *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />    
    @await RenderSectionAsync("Styles", required: false)

    @* Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Logo -->
        <nav>
            <a asp-page="\Index">Home</a>
            <a asp-page="\Projects">Projects</a>
            <a asp-page="\Contact">Contact</a>
            <a asp-page="\AboutMe">About Me</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        &copy; 2024 - Anthony Safatli
    </footer>

    <script src="~/dist/site.bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>