<!DOCTYPE html>
<html lang="en">
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anthony Safatli</title>

    @* CSS *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />    
    @await RenderSectionAsync("Styles", required: false)

    @* Font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a asp-page="@ViewData["Page"]">@ViewData["HeaderText"]?.ToString()?.ToUpper()</a>
        <nav>
            @if (ViewData["Page"]?.Equals("Index") != true)
            {
                <a asp-page="\Index">Home</a>
                <a asp-page="\Projects">Projects</a>
                <a asp-page="\Contact">Contact</a>
                <a asp-page="\AboutMe">About Me</a>
            }
        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div >
            &copy; 2024 - Anthony Safatli
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>