<!DOCTYPE html>
<html>
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @* CSS *@
    @await RenderSectionAsync("Styles", required: false)

    @* Fonts *@
    @await RenderSectionAsync("Fonts", required: false)
</head>
<body>
    @RenderBody()
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
