<!DOCTYPE html>
<html>
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My life in Weeks</title>

    @* CSS *@
    <link rel="stylesheet" href="~/css/timeline.min.css" asp-append-version="true" />

    @* Font (Change Later) *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    @RenderBody()
    
    <script src="~/dist/timeline.bundle.js" asp-append-version="true"></script>
</body>
</html>
