@page
@using Portfolio.Models
@model Portfolio.Pages.Admin.Files.IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Files";
}

<h1>Files</h1>

<div class="center-rows section gap">
    <a class="button" asp-page="../Dashboard">Back To Dashboard</a>
    <a class="button" asp-page="./Upload">Upload Media</a>
    <a class="button" asp-page="./Markdown">Upload Markdown</a>
</div>

<h2>Project Files</h2>

<div class="center section">
    <table>
        <thead>
            <tr>
                <th>File</th>
                <th>Used</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (FileStatus projectFile in Model.ProjectFiles)
            {
                <tr>
                    <td>
                        <a class="inline-button" href="~/projects/@projectFile.ShortPath" target="_blank">@projectFile.ShortPath</a>
                    </td>
                    <td>
                        @if (projectFile.Used)
                        {
                            @: &#x2714
                        }
                    </td>
                    <td>
                        <a class="inline-button" asp-page="Delete" asp-route-path="@projectFile.FullPath">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
