@page
@model Portfolio.Pages.Fun.IndexModel
@{
    Layout = "_SimpleLayout";
    ViewBag["Title"] = "Fun";
}

<p>A few pages I made just for fun</p>

<p>Here are some links</p>

<div>
    <a asp-page="TimeLine">My Life in Weeks</a>
</div>
