@page
@model TimeLineModel
@{
    Layout = "_SimpleLayout";
    ViewBag["Title"] = "My Life in Weeks";
}

@section Fonts {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
}

@section Styles {
    <link rel="stylesheet" href="~/css/timeline.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/dist/timeline.bundle.js" asp-append-version="true"></script>
}

<header>
    <h1>
        My <span id="life">Life</span> in <span id="weeks">Weeks</span>
    </h1>
</header>

<main>
    <div class="main-divider">
        <div class="weeks-container">
            <div></div>
            <div class="weeks">
                @for (int i = 0; i < Model.Weeks; i++)
                {
                    <div class="@Model.ClassList[i]"></div>
                }
            </div>
            <div></div>
        </div>
        <div class="week-selectors">
            <div>
                <h2>Education</h2>
                <p>
                    Crichton Park Elementary
                    <span>Week 306 - 611</span>
                </p>
                <p>
                    Ellenvale Junior High
                    <span>Week 620 - 767</span>
                </p>
                <p>
                    Dartmouth High
                    <span>Week 776 - 924</span>
                </p>
                <p>
                    Dalhousie University
                    <span>Week 933 - 1132</span>
                </p>
            </div>
            <div>
                <h2>Career</h2>
                <p>
                    Jake's Variety
                    <span>Weeks 711 - 933</span>
                </p>
                <p>
                    Med IT
                    <span>Weeks 937 - Present</span>
                </p>
            </div>
            <div>
                <h2>Hobbies</h2>
                <p>
                    Coding
                    <span>Weeks X - Y</span>
                </p>
                <p>
                    Motorcycling
                    <span>Weeks X - Y</span>
                </p>
                <p>
                    Biking
                    <span>Weeks X - Y</span>
                </p>
                <p>
                    Gym
                    <span>Weeks X - Y</span>
                </p>
            </div>
            <div>
                <h2>Social Groups</h2>
                <p>
                    Teen SOYO
                    <span>Weeks X - Y</span>
                </p>
                <p>
                    YAM
                    <span>Weeks X - Y</span>
                </p>
                <p>
                    Tech Club
                    <span>Weeks X - Y</span>
                </p>
                <p>
                    Linux Society
                    <span>Weeks X - Y</span>
                </p>
            </div>
            <div>
                <h2>Other</h2>
                <p>
                    Birthdays
                    <span>Weeks X - Y</span>
                </p>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>