@page
@model Portfolio.Pages.Admin.TechStackItems.EditModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="section center">
    <form method="post" class="normal-form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="TechStackItem.Id" />
        <div>
            <label asp-for="TechStackItem.Name"></label>
            <input asp-for="TechStackItem.Name"/>
            <span asp-validation-for="TechStackItem.Name"></span>
        </div>
        <div>
            <label asp-for="TechStackItem.PathToImage"></label>
            <input asp-for="TechStackItem.PathToImage" />
            <span asp-validation-for="TechStackItem.PathToImage"></span>
        </div>
        <div class="uninclude">
            <button class="button" type="submit">Update</button>
        </div>
    </form>
    <form asp-page="Delete" method="post" class="normal-form gap-v">
        <input type="hidden" asp-for="TechStackItem.Id" />
        <div class="uninclude">
            <button class="button" type="submit">Delete</button>
        </div>
    </form>
</div>

<a class="button" asp-page="../Dashboard">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
