@page
@model Portfolio.Pages.Admin.Upload.MarkdownModel
@{
}

<p>
    Markdown:
    @{
        if (Model.HasMd)
        {
            @: Good
        }
        else
        {
            @: Bad
        }
    }
</p>
<p>
    Json:
    @{
        if (Model.HasJson)
        {
            @: Good
        }
        else
        {
            @: Bad
        }
    }
</p>
<form method="post" enctype="multipart/form-data">
    <label asp-for="MdFile"></label>
    <input asp-for="MdFile" accept=".md" />
    <button type="submit">Upload</button>
</form>