@page "{name}"
@model Portfolio.Pages.Admin.Upload.ProjectFilesModel
@{
}

<p>
    Markdown:
    @{
        if (Model.HasMd)
        {
            @: Good
        }
        else
        {
            @: Bad
        }
    }
</p>
<p>
    Json:
    @{
        if (Model.HasJson)
        {
            @: Good
        }
        else
        {
            @: Bad
        }
    }
</p>
@if (!Model.HasJson)
{
    <p>Error</p>
}
else if (Model.Links.Count == 0)
{
    <p>No files to upload</p>
}
else
{
    <form method="post" enctype="multipart/form-data">
        @for (int i = 0; i < Model.Links.Count; i++)
        {
            <label asp-for="Links[i].Path"></label>
            <input asp-for="Links[i].Path" />
            <label asp-for="Links[i].File">
                @Html.Raw(Model.Links[i].Path)
            </label>
            <input asp-for="Links[i].File" />
        }   
        <button type="submit">Upload</button>
    </form>
}