@page
@model Portfolio.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}

@section Styles {
    <link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
}

<h1 class="title">About Me</h1>

<div class="dual-div">
    <div>
        <img src="~/projects/images/ballon-pic.jpg" alt="placeholder image" />
    </div>

    <div>
        <p>
            Hello! I'm Anthony, a passionate software developer and student at Dalhousie University. With @Html.Raw(DateTime.Now.Year - 2020) years of experience in programming, I have worked mostly with Python, Java, and especially C#. When I am not programming, I love riding my motorcycle, hanging out with friends, and exploring the outdoors!
        </p>
    </div>
</div>

<div class="center">
    <a asp-page="Resume" class="button" target="_blank">Resume</a>
</div>