@page
@model Portfolio.Pages.AboutMeModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
}

<h1 class="title">About Me</h1>

<div> <!-- Programming Career -->

</div>

<div> <!-- About Myself -->

</div>