@page
@model Portfolio.Pages.AboutMeModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
}

<h1 class="title">About Me</h1>

<div class="dual-div">
    <div class="image-div">
        <img src="~/projects/images/ballon-pic.jpg" alt="placeholder image" />
    </div>

    <div>
        <!-- TODO: Temp p tag -->
        <p>
            I flown seeming with parting thy was countenance surcease radiant as eyes the that and has my mystery tis from and my heard if mefilled unseen bird disaster lenore hopes and still rustling plainly madam and my word saintly i raven nightly thereis back prophet so my whom the clasp quaff the nothing grave surcease lore days came songs nothing fluttered living then scarcely will lamplight aptly whom tell angels ever beguiling and sad soon this stood mystery i shadow the me it stillness tossed not from lining above chamber my such door and wide dreaming that soul days bleak bird fowl door vainly bird visiter dreary my with of yet chamber was hope streaming air december december god and air it from burning beast on i nevermore came and of never door raven what denser ghastly flung my unto the in followed flown not only heart explore the or lie each scarcely more and velvet grew radiant till shrieked its mortals cried implore the sorrow wished the sir whispered wrought by much name that croaking lenore gently door token ghastly or by the sad ember though this bore footfalls upon or tufted air and never moment evilprophet god bust
        </p>
    </div>
</div>