@page
@model Portfolio.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";

    ViewData["Globe X"] = 0;
    ViewData["Globe Y"] = -0.5;
    ViewData["Globe Z"] = -3;
    ViewData["Globe Opacity"] = 0.075;
}

@section Styles {
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
}

<h1 class="title">Contact Me - @ViewData["Email"]</h1>

<p class="center space-top">
    Send me a message here or mail me directly at 
</p>
<div class="center">
    <a href="mailto:anthonysafatli@dal.ca">AnthonySafatli@dal.ca</a>
</div>

<form method="post">
    <div>
        <label>Email</label>
        <input type="email" asp-for="Message.Email" placeholder="example@@website.ca"/>
    </div>
    
    <div>
        <label>Message</label>
        <textarea asp-for="Message.Message" placeholder="I really like your website!" required></textarea>
    </div>
    
    <div class="center">
        <input type="submit"/>
    </div>
</form>