@page
@model Portfolio.Pages.ContactModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
}

<h1 class="title">Contact Me</h1>

<form method="post">
    <div id="email">
        <label>Email</label>
        <input type="email" placeholder="example@@website.ca"/>
    </div>
    
    <div id="message">
        <label>Message</label>
        <textarea placeholder="I really like your website!"></textarea>
    </div>
    
    <div id="submit">
        <input type="submit"/>
    </div>
</form>