@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["HeaderText"] = "Welcome";
    ViewData["Page"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<div>
    <h1 id="title">
        Hi
        <span class="br"></span>
        I'm Anthony
    </h1>
    <p id="title-p">I'm a Software Developer</p>

    <div class="links-flex">
        <a asp-page="/Projects">Projects</a>
        <a asp-page="/AboutMe">About Me</a>
        <a asp-page="/Contact">Contact</a>
    </div>
</div>