@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

    ViewData["Globe X"] = -1;
    ViewData["Globe Y"] = 0;
    ViewData["Globe Z"] = -3.25;
    ViewData["Globe Opacity"] = 0.9;
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<div class="content">
    
    <div>
        <div class="hero">
            <h1 id="title">
                <span id="title-1" class="block">Hi</span>
                <span id="title-2" class="block">I'm Anthony</span>
            </h1>

            <p id="title-desc">Aspiring Software Developer and Current Student</p>
        </div>

        <div class="links">
            <div><a asp-page="/Projects">Projects</a></div>
            <div><a asp-page="/AboutMe">About Me</a></div>
            <div><a asp-page="/Contact">Contact</a></div>
        </div>
    </div>

</div>