@page
@using Portfolio.Models
@model Portfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

@section Styles {
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
}

<h1 class="title">Projects</h1>

<div class="projects-div">
    @foreach (Project project in Model.Projects)
    {
        <a asp-page="/Project" asp-route-name="@project.Name" class="no-glow project-card">
            <div class="project-image">
                <img src="projects/@project.Thumbnail" alt="thumbnail for @project.Name">
            </div>
            <h2>@project.Name</h2>
            <p>With pallas the entrance still nameless thy never ungainly in nothing shadow stronger only caught over once door this more</p>
        </a>
    }
</div>