@page "{name}"
@using Portfolio.Models
@model Portfolio.Pages.ProjectModel
@{
}

<h1>Project: @Model.Project.Name</h1>

<p>Date Started: @Model.Project.DateStarted</p>
<p>Date Ended: @Model.Project.DateEnded</p>

@foreach (PageElement element in Model.ProjectPage.Elements)
{
    @Html.Raw(element.ToHTML());
}