@page
@using Portfolio.Models
@model Portfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";

    ViewData["Globe X"] = 0;
    ViewData["Globe Y"] = -1;
    ViewData["Globe Z"] = -2;
    ViewData["Globe Opacity"] = 0.3;

    ViewData["Description"] = "Explore Anthony Safatli's software development projects, showcasing skills in Python, Java, C#, and more. Check out detailed descriptions and project highlights!";
    ViewData["Keywords"] = "Anthony Safatli, Software Projects, Developer Portfolio, Python Projects, Java Projects, C# Projects, Programming Portfolio, Featured Projects, Anthony's Work";
    ViewData["Robots"] = "index, follow";
    ViewData["URL"] = "https://anthonysafatli.ca/Projects";
}

@section Styles {
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
}

<h1 class="title">Projects</h1>

@if (Model.Projects.Count == 0)
{
    <p>No projects, stay tuned!</p>
}

<div class="projects-div">
    @foreach (Project project in Model.Projects)
    {
        <a asp-page="/Project" asp-route-name="@project.Id" class="project-card">
            <div class="project-image">
                <img src="projects/@project.Thumbnail" alt="thumbnail for @project.Id">
            </div>
            <h2>@project.DisplayName</h2>
            <p>@project.Description</p>
        </a>
    }
</div>