@page
@model Portfolio.Pages.ResumeModel
@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "My Resume - Anthony Safatli";
}

@section Styles {
    <link rel="stylesheet" href="~/css/resume.css" asp-append-version="true" />
}

@section Fonts {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
}

@section Scripts {
    <script src="~/dist/resume.bundle.js" asp-append-version="true"></script>
}

<div class="page">
    <header>
        <h1 class="roboto-slab">Anthony Safatli</h1>
        <p class="roboto">
            <span>Dartmouth NS</span> | <span><a href="mailto:anthonysafatli@dal.ca">AnthonySafatli@dal.ca</a></span>
        </p>
    </header>

    <main class="roboto">
        <div>
            <div>
                <h2 class="roboto-slab">Education</h2>
                <div>
                    <!-- High School -->
                    <!-- Dalhousie -->
                </div>
            </div>
            <div>
                <h2 class="roboto-slab">Skills</h2>
                <div>
                    <div>
                        <h3 class="roboto-slab">Technical</h3>
                        <div>
                            <!-- Technical Skills -->
                        </div>
                        <h3 class="roboto-slab">Non-Technical</h3>
                        <div>
                            <!-- Non-Technical Skills -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="roboto-slab">Experience</h2>
                <div>
                    <!-- Jake's Variety -->
                    <!-- No Frills -->
                    <!-- Dalhousie MedIT -->
                </div>
            </div>
            <div>
                <h2 class="roboto-slab">Projects</h2>
                <div>
                    <!-- Personal Projects -->
                    <!-- Hackathons -->
                </div>
            </div>
            <div>
                <h2 class="roboto-slab">Other</h2>
                <div>
                    <!-- Teen SOYO + YAM -->
                    <!-- Linux Society -->
                </div>
            </div>
        </div>
    </main>

    <footer class="roboto">
        <button>Download PDF</button>

        <p>Feel free to contact me here</p>
        <p><a href="/Contact">Contact Me!</a></p>
    </footer>
</div>
