@page
@model Portfolio.Pages.TimeLineModel
@{
    Layout = "_TimeLineLayout";
}

<header>

</header>

<main>
    <h1>
        My <span id="life">Life</span> in <span id="weeks">Weeks</span>
    </h1>
    <div class="main-divider">
        <div class="weeks-container">
            <div></div>
            <div class="weeks">
                @for (int i = 0; i < Model.Weeks; i++)
                {
                    <div class="@Model.ClassList[i]"></div>
                }
            </div>
            <div></div>
        </div>
        <div class="week-selectors">
            <div>
                <p>
                    Birth
                    <span>Week 0</span>
                </p>
            </div>
            <div>
                <h2>Education</h2>
                <p>
                    Crichton Park Elementary
                    <span>Week 306 - 611</span>
                </p>
                <p>
                    Ellenvale Junior High
                    <span>Week 620 - 767</span>
                </p>
                <p>
                    Dartmouth High
                    <span>Week 776 - 924</span>
                </p>
                <p>
                    Dalhousie University
                    <span>Week 933 - 1132</span>
                </p>
            </div>
            <div>
                <h2>Career</h2>
                <p>
                    Jake's Variety
                    <span>Weeks 711 - 933</span>
                </p>
                <p>
                    Med IT
                    <span>Weeks 937 - Present</span>
                </p>
            </div>
        </div>
    </div>
</main>

<footer>

</footer>