@page
@model Portfolio.Pages.Admin.DashboardModel
@{
}

<a asp-page="./Projects/Index">Projects Panel</a>
<a asp-page="./DeleteFiles">Delete</a>
<a asp-page="./Upload/Index">Upload</a>
<form method="post" asp-page="/Admin/Logout">
    <button type="submit">Logout</button>
</form>