@page
@model Portfolio.Pages.Admin.DeleteFilesModel
@{
    Layout = "_AdminLayout";
}

@foreach (string file in Model.Files)
{ 
    <p>@file <a asp-page="DeleteFiles" asp-route-file="@file">Delete</a></p>  
}