@page
@model Portfolio.Pages.Admin.DeleteFilesModel
@{
    Layout = "_AdminLayout";
}

<h1>Delete Files</h1>

<div class="section center">
    <table>
        <thead>
            <tr class="head-row">
                <th>
                    File Path
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (string file in Model.Files)
            {
                <tr>
                    <td>
                        @file
                    </td>
                    <td>
                        <a class="inline-button" asp-page="DeleteFiles" asp-route-file="@file">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="button" asp-page="./Dashboard">Back to Dashboard</a>