@page
@model Portfolio.Pages.Admin.LoginModel
@{
    Layout = "_AdminLayout";
}

<div>
    <form method="post">
        <input type="password" asp-for="Credential.Password" />
        <input type="submit" value="Login!"/>
    </form>
</div>