@page
@model Portfolio.Pages.Admin.LoginModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Login";
}

<div class="center section center-h">
    <form method="post" class="normal-form login-form">
        <div>
            <label asp-for="Credential.Password"></label>
            <input type="password" asp-for="Credential.Password" />
        </div>
        <div class="uninclude login-button">
            <button class="button" type="submit">Login</button>
        </div>
    </form>
</div>