@page "{name}"
@model Portfolio.Pages.Admin.UploadFilesProjectModel
@{
}

@if (!Model.HasMd)          @* Upload Markdown *@
{
    <p>Markdown: Bad</p>
    <p>Json: Bad</p>
} 
else if (!Model.HasJson)    @* Rerun Script *@
{
    <p>Markdown: Good</p>
    <p>Json: Bad</p>
}
else                        @* Upload Hypertext Links *@
{
    <p>Markdown: Good</p>
    <p>Json: Bad</p>
}
