@page "{name}"
@model Portfolio.Pages.Admin.UploadFilesProjectModel
@{
}

@if (!Model.HasMd)          @* Upload Markdown *@
{
    <p>Markdown: Bad</p>
    <p>Json: Bad</p>
    <form method="post" enctype="multipart/form-data">
        <label asp-for="MdFile"></label>
        <input asp-for="MdFile" accept=".md"/>
        <button type="submit">Upload</button>
    </form>

} 
else if (!Model.HasJson)    @* Rerun Script *@
{
    <p>Markdown: Good</p>
    <p>Json: Bad</p>
    <form method="post">
        <button type="submit">Run Script</button>
    </form>
}
else                        @* Upload Hypertext Links *@
{
    <p>Markdown: Good</p>
    <p>Json: Good</p>
    <p>Prepare to upload all files for @Model.Project.Name</p>
    @* Use for loop *@
    <form method="post" enctype="multipart/form-data">
        <button type="submit">Upload</button>    
    </form>
}
