@page "{name}"
@model Portfolio.Pages.Admin.UploadFilesProjectModel
@{
}

@if (!Model.HasMd)          @* Upload Markdown *@
{
    <p>upload md</p>
} 
else if (!Model.HasJson)    @* Rerun Script *@
{
    <p>run script</p>
}
else                        @* Upload Hypertext Links *@
{
    <p>upload hypertext</p>
}
